/* General Styling */
body {
  background-color: white;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: inherit;
}

.allcaps {
  text-transform: uppercase;
  font-style: normal;
}

img {
  width: 100%;
  height: auto;
}

.img-caption {
  width: 80%;
  color: #666;
  font-family: nyt-imperial, georgia, 'times new roman', times, serif;
  margin: 10px 20px 0;
  margin-left: 0;
  text-align: left;
  font-size: 0.9375rem;
  line-height: 1.25rem;
}

.caption-credit {
  font-size: 0.75rem;
  color: #888;
  font-family: nyt-imperial, georgia, 'times new roman', times, serif;
  line-height: 1.125rem;
  letter-spacing: 0.01em;
  vertical-align: baseline;
  text-align: left;
}

.blue-button {
  border-radius: 3px;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  vertical-align: middle;
  background-color: #567b95;
  border: 1px solid #326891;
  color: #fff;
  font-size: 11px;
  line-height: 11px;
  font-weight: 700;
  letter-spacing: 0.05em;
  padding: 11px 12px 8px;
  text-transform: uppercase;
  margin: 0 3px;
}

.blue-button:hover {
  cursor: pointer;
}

/* Navbar */
#navigation-top {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42px;
  width: 100%;
  border-bottom: 1px #e2e2e2 solid;
  z-index: 2;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
}

.nav-icon {
  height: 23px;
  margin: 0 10px;
  width: auto;
}

#top-logo {
  height: 26px;
  width: auto;
}

#nav-section {
  color: black;
  font-size: 14.25px;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  line-height: 19px;
  text-decoration: none;
}

/* Header */
.page-header {
  width: 100%;
  margin-top: 42px;
  margin-left: auto;
  margin-right: auto;
}

.article-title {
  color: #121212;
  font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
  font-weight: 700;
  font-style: italic;
  font-size: 2.5rem;
  line-height: 3rem;
  padding-bottom: 20px;
  border-bottom: 1px rgb(204, 204, 204) solid;
  width: 50%;
  margin: 0 auto;
}

#share-buttons-top {
  display: flex;
  width: 50%;
  margin: 20px auto;
  justify-content: left;
}

.share-button-pos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  height: 30px;
  width: 30px;
}

.share-button-background {
  background-color: #eee;
  border: 1px #eee solid;
  border-radius: 50%;
  color: black;
}

.share-button-background:hover {
  background-color: white;
}

.header-figure {
  max-width: 945px;
  margin: 25px auto 43px auto;
}

#img-alan-guth {
  width: 100%;
  height: auto;
}

#article-author {
  margin: 0 auto 20px auto;
  width: 50%;
  text-align: left;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
  color: #333;
  font-size: 0.9375rem;
  line-height: 1.25rem;
}

#author-link {
  text-decoration: underline;
  text-decoration-color: #ccc;
}

#article-date {
  margin: 0 auto 30px auto;
  width: 50%;
  text-align: left;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 500;
  color: #333;
  font-size: 0.8125rem;
  line-height: 1rem;
}

/* Signup Message */
#signup-message {
  width: 47%;
  border-top: 1px rgb(204, 204, 204) solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

#signup-text {
  max-width: 500px;
  font-family: nyt-imperial, georgia, 'times new roman', times, serif;
  font-size: 1.25rem;
}

#signup-text-em {
  font-size: 0.875rem;
  font-weight: 700;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-style: normal;
  text-transform: uppercase;
}

.signup-button {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  height: 32px;
  text-align: center;
  width: 80px;
  margin: auto;
}

.signup-button:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 2px;
}

/* Main Article */
.text-section {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-family: nyt-imperial, georgia, 'times new roman', times, serif;
  font-size: 20px;
  line-height: 30px;
  vertical-align: baseline;
  letter-spacing: normal;
  word-spacing: 0;
}

.article-subtitle {
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
  font-size: 20px;
  line-height: 30px;
  vertical-align: baseline;
  letter-spacing: normal;
  word-spacing: 0;
  font-weight: 700;
}

.article-figure {
  width: 100%;
  height: auto;
  margin-left: auto;
}

.article-video {
  width: 100%;
  height: 380px;
}

#theory-of-inflation {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#theory-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.theory-grid-row {
  display: flex;
  justify-content: space-between;
}

.theory-grid-item {
  display: flex;
  flex-direction: column;
  flex: initial;
  width: 173px;
  font-family: nyt-franklin, arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
}

.grid-em {
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 17px;
  font-family: nyt-franklin, arial, helvetica, sans-serif;
}

.grid-img {
  display: block;
  width: 200px;
  height: 120px;
}

.main-aside {
  position: relative;
  top: 850px;
  right: 50px;
  float: right;
  display: flex;
  flex-direction: column;
  width: 240px;
}

.main-aside-title {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 14px;
  vertical-align: baseline;
  letter-spacing: 0.28px;
  font-weight: 700;
  padding-bottom: 15px;
  border-bottom: 1px #e2e2e2 solid;
}

.main-aside-pick {
  display: flex;
  margin-bottom: 15px;
}

.main-aside-pick:hover {
  cursor: pointer;
  text-decoration: underline;
}

.aside-pick-image {
  width: 75px;
  height: 75px;
}

.aside-pick-text {
  margin: 15px 5px 5px 15px;
  font-family: nyt-cheltenham-small, georgia, "times new roman", serif;
  font-size: 14px;
  line-height: 17px;
  vertical-align: baseline;
  font-weight: 500;
  color: #333;
}

/* Thanks/Subscribe message */
#thanks-message {
  text-align: center;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
}

#hr-bot {
  border-bottom: 1px rgb(204, 204, 204) solid;
  width: 78px;
  margin: 0 auto 18px;
}

#hr-top {
  border-top: 1px rgb(204, 204, 204) solid;
  width: 78px;
  margin: 18px auto 0;
}

#suscribe {
  color: rgb(50, 104, 145);
}

/* Article footer */
.article-footer {
  width: 50%;
  margin: 20px auto;
}

.article-version {
  width: 90%;
  margin-left: 0;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(102, 102, 102);
}

#bottom-share-bar {
  display: flex;
  justify-content: space-between;
}

#share-buttons-bot {
  display: flex;
  width: 40%;
  justify-content: right;
}

#read-button {
  width: 40%;
  text-align: center;
  white-space: nowrap;
  margin: 0;
}

/* Suggestions section */
#suggestions-section {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

#left-entries {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-entries-section {
  border-top: 1px black solid;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  vertical-align: baseline;
  font-weight: 700;
  width: 100%;
  margin-bottom: 15px;
}

.left-entries-row {
  display: flex;
  justify-content: space-between;
}

.blank-entry {
  width: 30%;
}

.left-entry {
  width: 30%;
  height: 290px;
  margin: 0;
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  font-size: 18px;
  line-height: 22px;
  vertical-align: baseline;
  font-weight: 500;
}

.left-entry:hover {
  cursor: pointer;
  color: rgb(102, 102, 102);
}

.left-entry-figure {
  width: 100%;
  margin: 0;
}

.left-img {
  width: 100%;
  height: auto;
}

.left-caption {
  color: rgb(153, 153, 153);
  font-family: nyt-cheltenham, georgia, "times new roman", serif;
  font-size: 10px;
  line-height: 12.3px;
  vertical-align: baseline;
  font-weight: 400;
  text-align: right;
}

.left-entry-date {
  color: rgb(153, 153, 153);
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}

#most-popular {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  vertical-align: baseline;
  font-weight: 700;
  width: 25%;
  border-top: 1px black solid;
}

.most-popular-entry {
  color: rgb(18, 18, 18);
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.375rem;
  border-top: 1px rgb(226, 226, 226) solid;
  vertical-align: baseline;
}

.most-popular-entry:hover {
  cursor: pointer;
  color: rgb(102, 102, 102);
}

#separation-block {
  width: 100%;
  height: 44px;
  margin-top: 15px;
  margin-bottom: 20px;
  background-color: #f7f7f7;
  border-bottom: 1px #f3f3f3 solid;
  border-top: 1px #f3f3f3 solid;
}

#navigation-bottom {
  width: 90%;
  margin: 0 auto;
}

#navigation-bottom-top-border {
  width: 100%;
  border-top: 2px #e2e2e2 solid;
  height: 1px;
  border-bottom: 1px #e2e2e2 solid;
}

#nav-bottom-banner {
  width: 100%;
  height: 44px;
  position: relative;
}

#bottom-space {
  height: 100px;
}

#bottom-logo {
  height: 26px;
  width: auto;
  display: inline;
  position: absolute;
  left: 0;
  bottom: 9px;
}

#to-homepage {
  display: inline;
  position: absolute;
  right: 0;
  bottom: 0;
  color: rgb(86, 123, 149);
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 11px;
  text-decoration: none;
}

#navigation-lists {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px #e2e2e2 solid;
}

#left-lists {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 80%;
}

.left-list {
  width: 20%;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  vertical-align: baseline;
  font-weight: 500;
  margin: 0;
}

.lists-title {
  height: 25px;
  color: rgb(51, 51, 51);
  font-size: 13px;
  font-weight: 700;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  line-height: 15px;
  margin: 0;
  text-transform: uppercase;
}

.left-link {
  height: 15px;
}

.left-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

#right-list {
  border-left: 1px #e2e2e2 solid;
  width: 20%;
  margin-top: 20px;
  padding-left: 15px;
  color: rgb(0, 0, 0);
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 18px;
}

.icon-item {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 700;
  height: 30px;
  line-height: 15px;
}

.icon-item:hover {
  cursor: pointer;
  text-decoration: underline;
}

.bot-icon {
  display: inline;
}

.bot-hr {
  border: 1px #e2e2e2 solid;
}

.right-item:hover {
  cursor: pointer;
  text-decoration: underline;
}

#nyt-contact {
  display: flex;
  justify-content: space-between;
  margin: 0 20px 55px 20px;
}

.nyt-contact-link {
  color: rgb(102, 102, 102);
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 11px;
  line-height: 11px;
  vertical-align: baseline;
  text-decoration: none;
}

#banner {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 55px;
  width: 100%;
  background-color: white;
  border-top: 1px black solid;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 15px;
  line-height: 17px;
  vertical-align: baseline;
}

#banner-container {
  width: 80%;
  height: 55px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#blank-banner {
  height: 10px;
  width: 12%;
}

#banner:hover {
  cursor: pointer;
}

#em-banner-mid {
  font-weight: 700;
}

#bot-banner-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

#ban-right-right {
  margin-left: 30px;
}
